<h1>Welcome to Tamagotchis</h1>
<form action="/Index" method="post">
<div class="form-group">
  <label for="name">Name your Tamagotchis</label>
  <input type="text" name="name" id="name">
</div>
<button type="submit">Enter</button>
</form>
