<h1>Keep me alive PLEASE!</h1>
<img src="/img/Tamagotchis.jpeg" alt="pic of Tamagotchis">

<form action="/" method="post">
  <button type="submit">Feed @Model.GetName() </button>
  <br>
  <button type="submit">Play with @Model.GetName()</button>
  <br>
  <button type="submit" >Sleep @Model.GetName()</button>
</form>
